{% extends 'layout.html' %}
{% block body %}
{% load static %}

<div id="wrap-content" class="page-content">
    <div id="post-172" class="page-holder custom-page-template page-full fullscreen-page clearfix">
        <div data-elementor-type="wp-post" data-elementor-id="172" class="elementor elementor-172">

            <section class="container elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ac82b81" data-element_type="section">
                <div class="row elementor-container elementor-column-gap-default">

                    {% for youtube_link in youtube_links %}
                        <div class="col-md-3 elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a31bb67" data-id="a31bb67" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-video-container elementor-widget elementor-widget-video" data-id="video-{{ forloop.counter }}" data-element_type="video">
                                    <div class="video-container">
                                        <iframe width="560" height="315" src="{{ youtube_link }}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}